My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "962e833a-ff3f-422b-9830-13f99ef12690",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "d5ddxhjxtucr4NNe",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Order",
              "description": "When any email come with the text inside include new order it will separate it"
            },
            {
              "category": "Inquiry",
              "description": "If any email include words inquiry customer is asking any type of questions, need to separate. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "b051f496-ff72-42eb-8248-79a649d31991",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        176
      ],
      "id": "950a97f5-c0c2-46f9-b9a5-b2eacd886263",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7vUoQC3yuak15F1h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional customer support assistant for an online store.\n\nYour job is to read the customer's email and generate a helpful, polite, and concise reply.\n\nFirst, identify the intent of the email. It can be one of the following:\n1. Order Status Inquiry\n2. Order Cancellation Request\n3. Refund Request\n4. Complaint\n5. General Inquiry\n\nThen generate a response based on the intent.\n\nGuidelines:\n- Keep the tone polite, friendly, and professional\n- Do not sound robotic\n- Keep replies short (5–8 lines max)\n- Personalize using customer intent\n- If information is missing, ask for details (like order ID)\n- Always end with: \"Let us know if you need any further assistance.\"\n\nNow process the following email:\n\nCustomer Email:\n{{ $json.snippet }}\n\nyou have to give me reply in two tye one you give subject line and one inner email response"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        560,
        -48
      ],
      "id": "27f13fd6-afad-4fa3-9d4e-325f09c513af",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "7vUoQC3yuak15F1h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "{\\n  \"subject\": \"Regarding Your Inquiry About a Burger\" \\n}",
        "message": "{\\n  \"body\": \"Dear Customer,\\n\\nThank you for reaching out! We appreciate your interest in our products.\\n\\nTo help us best assist you, could you please clarify if you are trying to place an order or inquiring about a specific item's availability? If you're looking to order, please visit our website to browse our full selection.\\n\\nWe're here to help you find what you're looking for!\\n\\nLet us know if you need any further assistance.\"\\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -48
      ],
      "id": "6905a4b1-74b2-4b93-9dc6-071d32837b9b",
      "name": "Create a draft",
      "webhookId": "fbe70ae2-5a69-4efe-a966-22a8e2dfed38",
      "credentials": {
        "gmailOAuth2": {
          "id": "VNyzvOCeENpasMqL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        336,
        256
      ],
      "id": "c5795a9e-70a7-498b-ab2f-bc2e3ce5a4f6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "7vUoQC3yuak15F1h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        592,
        80
      ],
      "id": "56466dbf-5397-410c-a1c7-fdfdbb6187ad",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "7vUoQC3yuak15F1h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        640,
        176
      ],
      "id": "64c8cbc8-4bc9-4af8-9ca2-3c96ed23cb9b",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "7vUoQC3yuak15F1h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional customer support assistant.\n\nYour task is to read the customer's message and generate an email reply.\n\nFirst, understand the intent (inquiry, order issue, pricing, etc.), then generate:\n\n1. A clear and relevant email SUBJECT line\n2. A polite, helpful email BODY\n\nOutput format (strictly follow):\n\nSubject: <write subject here>\n\nBody:\n<write full email reply here>\n\nGuidelines:\n- Subject should be short and relevant (5–10 words)\n- Body should be polite, friendly, and professional\n- Keep body concise (4–7 lines)\n- Do not sound robotic\n- If details are missing, ask for them\n- Do not include placeholders like [Name]\n- End body with: \"Feel free to reach out if you need any further assistance.\"\n\nCusto{{ $('Gmail Trigger').item.json.snippet }}mer Message:\n{{ $json[\"email_text\"] }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        752,
        176
      ],
      "id": "a23eebcd-01cc-45ce-b2d2-789280cc3a07",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "7vUoQC3yuak15F1h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "{\\n  \"Subject\": \"Regarding Your Pizza Recipe Inquiry\",\\n}  ",
        "message": "{\\n  \"Body\": \"Dear Customer,\\n\\nThank you for reaching out! We're happy to help with your inquiry about our pizza recipes.\\n\\nTo provide you with the most relevant information, could you please tell us more about what you're looking for? Are you interested in a specific type of pizza, ingredients, or perhaps a general technique?\\n\\nOnce we have a better understanding, we'll be able to assist you further.\\n\\nFeel free to reach out if you need any further assistance.\"\\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1104,
        176
      ],
      "id": "433c9853-c5cd-4c7e-b683-2637215d8a32",
      "name": "Create a draft1",
      "webhookId": "db3cbe4d-2f04-425b-8ff7-63ab3e0407f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "VNyzvOCeENpasMqL",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "40d8afe8-f945-40b2-9960-175b13818f4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "127e18481c83429f5abfb34099debf05c3b53d2e3986681cde72643e413143c3"
  },
  "id": "2Cb6PajmTAkxPIss",
  "tags": []
}